{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home_Page</title>
	<style>
		.gfg {
			margin-left: 23%;
			margin-top: 10%;
		}

		.btn {
			margin-left: 45%;
			padding: 10px 20px;
			color: white;
			background-color: orange;
			font-size: 20px;
			border-radius: 5px;
			font-weight: bolder;
			cursor: pointer;

		}

		.btn:hover {
			color: orange;
			background-color: white;
			cursor: pointer;
		}

		strong {
			color: green;

		}
	</style>

</head>
<h1 > Master  <strong>Data science pour l'economie et la finance</strong>  </h1>
<h1 > Realisé Par   <strong>AIT SIDI LKHIR ALI</strong>  </h1>
<h1 > Encadré par  <strong>Dr TALI ABDELHAK</strong>  </h1>
<body>
    
	<div class="container">
		<h1 class="gfg"> bienvenue dans  <strong>Projet de prédiction</strong>  du placement des étudiants!</h1>
		<br>
		<form action="predict">
			<button class="btn" type="submit">Commencer la prediction</button>
		</form>
	</div>



</body>

</html>
